In [2]:
fruit = ["apple ", "banana" ,"orange" ]
fruit.append("grape") 
print(fruit[1])
fruit[1] = "mango"
print(fruit)

banana
['apple ', 'mango', 'orange', 'grape']

In [ ]:
student = {"name": "Nguyen", "age": 20, "score": 8.5}
print(student["name"]) 
student["score"] = 10.0
print(student)

Nguyen
{'name': 'Nguyen', 'age': 20, 'score': 10.0}

In [10]:
lst = [1,"two" , 3.0]
lst.append("4")
print(lst)

[1, 'two', 3.0, '4']

In [13]:
lst = [1, "two" , 3.0]
print(lst[0])

1

In [19]:
d = {"a": 12}
print(d.get("a"))

12

In [43]:
#vd1:
items = ['apple','banana','orange']
prices = {'apple':21231312 ,'banana': 1000 ,'orange': 2000}
total = 0
for item in items:
    total += prices[item]
print("Total price:", total)

Total price: 21234312

In [2]:
#vd2 
points = [(3,4),(0,0),(1,1)]
for x, y in points:
    distance = (x**2 + y**2)**0.5
    print(f"Point ({x}, {y}) is {distance:.2f} ")

Point (3, 4) is 5.00
Point (0, 0) is 0.00
Point (1, 1) is 1.41

In [1]:
#vd3
student = {"S001":{"name":"nguyen","score":8.5},
           "S002":{"name":"tran","score":9.0},
           "S003":{"name":"le","score":7.5}}
id = input("ma so sinh vien:")
info= student.get(id,{"name":"Unknown","score":0})
print(f"ten: {info["name"]}, diem: {info["score"]}")

ten: nguyen, diem: 8.5